@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  --color-brand-blue: #00355f;
  --color-brand-dark: #0d1c2e;
  --color-brand-muted: #42474f;
  --color-brand-accent: #0f4c81;
  --color-brand-bg-light: #f8f9ff;
}

@layer base {
  body {
    background-color: var(--color-brand-bg-light);
    color: var(--color-brand-muted);
    font-family: var(--font-sans);
  }
  button {
    cursor: pointer;
  }
}
