@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  --color-brand-blue: #00355F;
  --color-brand-dark: #0D1C2E;
  --color-brand-muted: #42474F;
  --color-brand-accent: #0F4C81;
  --color-brand-bg-light: #F8F9FF;
}

@layer base {
  body {
    background-color: var(--color-brand-bg-light);
    color: var(--color-brand-muted);
    font-family: var(--font-sans);
  }
}
